<nav id="topNav" class="navbar navbar-expand-md navbar-light fixed-top nav-border" style="background-color: #fff;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      ☰
  </button>
  <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i></a>
          </li>
      </ul>
  </div>
  <a id="brand-text" class="navbar-brand mx-auto" href="#">CROSSWAYS</a>
  <div class="navbar-collapse collapse">
      <ul id="secondary-menu" class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-bell"></i> <span class="badge badge-light">4</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-comments"></i> <span class="badge badge-light">4</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user"></i></a></li>
      </ul>
  </div>
</nav>
